---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="zeroproject">
	<Header />
	<main>
		<Projects />
	</main>
</Layout>

<style>
	main {
		max-width: 1280px;
		padding: 0 2rem;
		margin: auto;
	}
</style>
