---
export interface Props {
	title: string;
	body: string;
	href: string;
}
const { href, title, body } = Astro.props;
---

<div class="card">
	<a href={href} class="card__link">
		<h2 class="card__title">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="card__description">
			{body}
		</p>
	</a>
</div>

<style>

</style>
