---
---

<section id="contact">
  <h2 class="contact__title">Contacto</h2>
  <form id="form"></form>
</section>

<style>
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .contact__title {
    margin-top: 9rem;
    margin-bottom: 3rem;
    font-size: 48px;
  }
</style>
