---
import LinkList from "./LinkList.astro";
---

<section id="contact">
  <h2 class="contact__title">Contacto</h2>

  <LinkList size={"large"} />

  <footer class="footer">
    <p>
      Made with <span class="heart">❤</span>
    </p>
  </footer>
</section>

<style>
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
  }

  .contact__title {
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 48px;
  }

  footer {
    font-size: 2rem;
    margin-bottom: 3rem;
    line-height: 2rem;
  }

  .heart {
    color: red;
  }
</style>
