---
import Nav from "./Nav.astro";
import Link from "./Link.astro";
---

<header id="start">
  <Nav />

  <div class="central-index">
    <img
      class="central-index__logo"
      src="assets/images/Logo.svg"
      alt="Logo Zeroproject"
    />

    <h1 class="central-index__title">Andres Copeticona</h1>
    <p class="central-index__paragraph">
      ¡Hola, bienvenido a mi portfolio de proyectos!
    </p>

    <div class="links">
      <Link href="https://twitter.com/zero_project1" className="links__link">
        <img
          class="links__image"
          src="assets/icons/Twitter icon.svg"
          alt="Twitter"
        />
      </Link>

      <Link href="https://github.com/zeroproject-0" className="links__link">
        <img
          class="links__image"
          src="assets/icons/Github icon.svg"
          alt="Github"
        />
      </Link>

      <Link
        href="https://www.linkedin.com/in/andres-copeticona-a690ba1b8/"
        className="links__link"
      >
        <img
          class="links__image"
          src="assets/icons/Linkedin icon.svg"
          alt="Linkedin"
        />
      </Link>
    </div>
  </div>
</header>

<style>
  header {
    padding: 11rem 4rem 0 4rem;
    min-height: 100vh;
  }

  .central-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .central-index__logo {
    width: 300px;
    height: 350px;

    filter: drop-shadow(0 0 0.2rem var(--white));
  }

  .central-index__title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 6rem;
  }

  .central-index__paragraph {
    font-size: 1.125rem;
    margin-top: 3rem;
    font-weight: lighter;
  }

  .links {
    margin-top: 6rem;
    width: 192px;
    height: 32px;
    display: flex;
    justify-content: space-between;
  }

  .links__image {
    width: 32px;
    height: 32px;
  }

  .links__link {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }

  .links__link:hover > .links__image {
    filter: drop-shadow(0 0 0.3rem var(--accent-color));
  }

  .proyects {
    height: 100vh;
  }

  .contact {
    height: 100vh;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo__image {
    width: 3rem;
    height: 3.5rem;
    margin-right: 1rem;
  }

  .logo__text {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0;

    font-size: 18px;
    font-weight: bold;
  }

  .nav {
    display: flex;
    padding: 0;
    margin: 0;
    height: inherit;
    list-style-type: none;
    align-content: center;
    font-size: 1rem;
  }

  .nav__item {
    width: 100px;
    height: inherit;
  }

  .nav__link {
    display: grid;
    width: inherit;
    height: inherit;
    place-content: center;
    color: var(--white);
    text-decoration: none;
  }

  .nav__item:hover {
    background-color: var(--hover-color);
    border-bottom: 2px solid var(--accent-color);
    font-weight: bold;
  }

  .central-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .central-index__logo {
    width: 300px;
    height: 350px;

    filter: drop-shadow(0 0 0.2rem var(--white));
  }

  .central-index__title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 6rem;
  }

  .central-index__paragraph {
    font-size: 1.125rem;
    margin-top: 3rem;
    font-weight: lighter;
  }

  .links {
    margin-top: 6rem;
    width: 192px;
    height: 32px;
    display: flex;
    justify-content: space-between;
  }

  .links__image {
    width: 32px;
    height: 32px;
  }

  .links__link {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }

  .links__link:hover > .links__image {
    filter: drop-shadow(0 0 0.3rem var(--accent-color));
  }

  .proyects {
    height: 100vh;
  }

  .contact {
    height: 100vh;
  }
</style>
