---
import Nav from "./Nav.astro";
import LinkList from "./LinkList.astro";
import LogoIcon from "@components/icons/Logo.astro";
import ArrowDownIcon from "@components/icons/ArrowDown.astro";

import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const t = getI18N({ currentLocale });
---

<header class="w-dvw h-dvh relative overflow-hidden pt-32 px-16">
  <Nav />

  <div class="gradient"></div>

  <div class="flex flex-col justify-center items-center">
    <LogoIcon class="mt-16 z-10" />

    <h1 class="text-4xl mt-16 font-bold">Andres Copeticona</h1>
    <h2 class="text-2xl">zeroproject</h2>
    <p class="font-light my-8 text-xl">
      <span class="shake-hand">👋 &nbsp;</span>
      <span>{t.main.welcome}</span>
    </p>

    <LinkList size={"small"} />
  </div>

  <ArrowDownIcon
    class="absolute bottom-10 left-[calc(50%-25px)] animate-bounce"
    width="50px"
    height="50px"
  />
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    window.scrollTo(0, 0);
  });
</script>

<style>
  .shake-hand {
    display: inline-block;
    transform-origin: 1.5rem 1.5rem;
    animation: shake 1.5s infinite;
  }

  @keyframes shake {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(50deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .gradient {
    --size: 350px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background: linear-gradient(
      90deg,
      hsl(158, 82%, 57%, 85%) 0%,
      hsl(252, 82%, 57%, 85%) 100%
    );
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -28%;
    bottom: 0;
    z-index: 0;
  }

  @media (min-width: 720px) {
    .gradient {
      --size: 400px;
    }
  }
</style>
