---
import Nav from "./Nav.astro";
import LinkList from "./LinkList.astro";
---

<header id="start">
  <Nav />

  <div class="gradient"></div>

  <div class="central-index">
    <img
      class="central-index__logo"
      src="assets/images/Logo.svg"
      alt="Logo Zeroproject"
    />

    <h1 class="central-index__title">Zero project</h1>
    <p class="central-index__paragraph">
      Portfolio de proyectos personales y de la comunidad.
    </p>

    <LinkList size={"small"} />
  </div>
</header>

<style>
  header {
    padding: 8rem 4rem 0 4rem;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .central-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .central-index__logo {
    width: 300px;
    height: 350px;
  }

  .central-index__title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 6rem;
  }

  .central-index__paragraph {
    font-size: 1.125rem;
    margin-top: 3rem;
    font-weight: lighter;
  }

  .central-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .central-index__title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 6rem;
  }

  .central-index__paragraph {
    font-size: 1.125rem;
    margin-top: 3rem;
    font-weight: lighter;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .gradient {
    --size: 350px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background: linear-gradient(
      90deg,
      hsl(158, 82%, 57%, 85%) 0%,
      hsl(252, 82%, 57%, 85%) 100%
    );
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -28%;
    bottom: 0;
  }

  @media (min-width: 720px) {
    .gradient {
      --size: 400px;
    }
  }

  * {
    z-index: 1;
  }
</style>
