---
import ChevronDownIcon from "@components/icons/ChevronDown.astro";

import { LANGS } from "@i18n/index";
import { useTranslatePath, getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatePath(lang);

const currentLocaleData = LANGS.find((locale) => locale.locale === lang);
const otherLocales = LANGS.filter((locale) => locale.locale !== lang);
---

<div class="relative grid place-items-center w-full h-full">
  <div class="group text-white text-xs bg-transparent">
    <button
      type="button"
      class="inline-flex justify-start items-center w-full gap-x-2 py-2"
      aria-expanded="true"
      aria-haspopup="true"
    >
      {currentLocaleData.label}
      <ChevronDownIcon />
    </button>
    <ul
      class="group-hover:block hidden pt-0.5 absolute w-full max-lg:bottom-[100%]"
    >
      {
        otherLocales.map((locale) => (
          <li class="py-[2px] cursor-pointer">
            <a
              class="rounded-md whitespace-no-wrap inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
              href={translatePath(`/`, locale.locale)}
            >
              {locale.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
