---
import LanguagePicker from "./LanguagePicker.astro";

import { useTranslations, getLangFromUrl } from "@i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav>
  <div class="logo">
    <img
      class="logo__image"
      src="/assets/images/Logo.svg"
      alt="Logo Zeroproject"
    />
  </div>
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link" href="#start">{t("navbar.home")}</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#projects">{t("navbar.projects")}</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#contact">{t("navbar.contact")}</a>
    </li>
    <li style="width: 100px;">
      <LanguagePicker />
    </li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo__image {
    width: 3rem;
    height: 3.5rem;
    margin-right: 1rem;
  }

  .nav {
    display: flex;
    padding: 0;
    margin: 0;
    height: inherit;
    list-style-type: none;
    align-content: center;
    font-size: 1rem;
  }

  .nav__item {
    width: 100px;
    height: inherit;
  }

  .nav__link {
    display: grid;
    width: inherit;
    height: inherit;
    place-content: center;
    color: var(--white);
    text-decoration: none;
  }

  .nav__item:hover {
    background-color: var(--hover-color);
    border-bottom: 2px solid var(--accent-color);
    font-weight: bold;
  }

  @media (max-width: 768px) {
    nav {
      justify-content: center;
    }

    .logo {
      display: none;
    }
  }
</style>
