---
import Card from "./Card.astro";

const projects = [
  {
    title: "Stream subtitles",
    description:
      "Genera subtitulos en tiempo real en un mini servidor web local con inteligencia artificial en python.",
    link: "https://github.com/zeroproject-0/stream-subtitles",
    image: "",
  },
  {
    title: "Board",
    description: "Pizarra virtual hecha en typescript.",
    link: "https://board.zeroproject.dev",
    image: "",
  },
  {
    title: "Dotz",
    description:
      "Dotz ayuda al manejo de archivos de configuración en linux hecho en rust.",
    link: "https://github.com/zeroproject-0/dotz",
    image: "",
  },
  {
    title: "Pomodoro",
    description: "Pomodoro hecho en c++ con interfaz gráfica de Qt6.",
    link: "https://github.com/zeroproject-0/pomodoro",
    image: "",
  },
  {
    title: "NucitaBot",
    description:
      "Bot de discord que permite mediante tts generar audio y reproducirlo en un canal.",
    link: "https://github.com/zeroproject-0/nucitabot",
    image: "",
  },
  {
    title: "TpHub",
    description:
      "TpHub es un plugin para servidores de minecraft spigot que permite almacenar coordenadas y poder teletransportarse a ellas facilmente.",
    link: "https://github.com/zeroproject-0/tpHub",
    image: "",
  },
];

import { getI18N } from "../i18n/index";
const { currentLocale } = Astro;
const t = getI18N({ currentLocale });
---

<section id="projects">
  <h2 class="projects__title">{t.projects.title}</h2>
  <div class="projects">
    {projects.map((project) => <Card {...project} />)}
  </div>
</section>

<style>
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

  .projects__title {
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 48px;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    column-gap: 6rem;
    row-gap: 4rem;
    place-content: center;
    width: 100%;
    padding: 0 30px;
  }
</style>
