---
import CardProject from "@components/Card.astro";

import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const t = getI18N({ currentLocale });

const projects = t.projects.projects;
---

<section
  id="projects"
  class="max-w-[90%] m-auto w-full h-svh flex flex-col pt-24 overflow-hidden"
  data-observe="projects"
>
  <h2 class="text-center text-5xl font-bold">{t.projects.title}</h2>
  <article class="w-full h-full py-12 relative">
    <div
      id="container"
      class="w-full h-full flex items-center justify-center rounded-3xl overflow-hidden"
    >
      {projects.map((project) => <CardProject project={project} />)}
    </div>
    <div class="button">
      <button class="prev">
        {"<"}
      </button>
      <button class="next">
        {">"}
      </button>
    </div>
  </article>
</section>

<script>
  const $next = document.querySelector(".next");
  const $prev = document.querySelector(".prev");
  const $container = document.getElementById("container");

  $next.addEventListener("click", () => {
    const $items = document.querySelectorAll(".item");
    $container.appendChild($items[0]);
  });

  $prev.addEventListener("click", () => {
    const $items = document.querySelectorAll(".item");
    $container.prepend($items[$items.length - 1]);
  });
</script>

<style>
  .button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
  }

  .button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
  }

  .button button:hover {
    background: #ababab;
    color: #fff;
  }
</style>
