---
import { getI18N } from "@i18n/index";

const { currentLocale } = Astro;

const t = getI18N({ currentLocale });
---

<!doctype html>
<html lang={currentLocale} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={t.meta.description} />
    <meta name="author" content="zeroproject" />

    <link rel="alternate" href="https://zeroproject.dev/es" hreflang="es" />
    <link rel="alternate" href="https://zeroproject.dev/" hreflang="en" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{t.meta.title}</title>
  </head>

  <body class="bg-bgColor m-0 p-0 w-full m-h-dvh text-white">
    <slot />
  </body>
</html>
